body{margin:20px;
font-family: Georgia, 'Times New Roman', Times, serif;}





.card{
    width:400px;
    margin:0 auto;
    display:flex;
    background:#F1FAEE;
    border-bottom: 5px solid #A8DADC;
    border-right:8px solid #A8DADC;
    justify-content: space-evenly;
    text-align: center;
    color: #2b2839;

    


}
.img{width: 150px;
    margin-top:20px;
    margin-bottom: 20px;
}

.infor p {
    color:#E63946;
}

.infor {margin-top: 30px;

}